[lustre]
name=lustre_intel
baseurl=https://downloads.hpdd.intel.com/public/lustre/latest-release/el7/client/
gpgcheck=0
enabled=0

[lustre-server]
name=lustre_server_intel
baseurl=https://downloads.hpdd.intel.com/public/lustre/latest-release/el7/server/
gpgcheck=0
enabled=1

[e2fs]
name=lustre_e2fs
baseurl=https://downloads.hpdd.intel.com/public/e2fsprogs/latest/el7/
gpgcheck=0
enabled=1
